// COLORS
$color-blue: #0055a0;
$color-light-blue: #0163b9;
$color-green: #7ab51d;
$color-yellow: #ffe400;
$color-orange: #ff6000;
$color-light-gray: #f8f8f8;
$color-gray: #ababab;
$color-dark-gray: #333333;
$color-white: #fff;

// SIZES
$size-icon: 2rem;
$height-field: 3.8rem;

// ANIMATIONS
$links: all 0.3s ease-in-out;

// MIXINS
@mixin filter-field ($width-field) {
  width: $width-field;
  height: $height-field;
  padding: 0 1rem;
  margin-top: 1rem;
}

@mixin btn ($color-btn) {
  width: 28rem;
  height: $height-field;
  font: 200 1.6rem Proxima Nova;
  letter-spacing: .6px;
  color: $color-white;
  background: $color-btn;
  transition: $links;

  &:hover {
    background: lighten($color-btn, 8%);
    cursor: pointer;
  }
}

@mixin bold-text {
  font-size: 1.6rem;
  font-weight: 400;
}

@mixin icons-position {
  position: absolute;
  width: 1.5rem;
  left: -2rem;
}

@mixin star-size {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0;
}

@mixin align-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
  
body {
  width: 100%;
  font: 300 1.4rem Proxima Nova, sans-serif;
  color: $color-dark-gray;
}

h1 {
  margin: 3rem 0;
}
  
a {
  text-decoration: none;
  color: $color-dark-gray;
}
  
ul {
  list-style: none;
}

li {
  margin-top: 2rem;
}

input, select, button {
  color: $color-dark-gray; 
  border: none;
  outline: none;
}

a:hover,
button:hover,
select:hover {
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  background: $color-white;

  &__container {
    width: 100%;
    max-width: 144rem;
  }
}

.header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background: $color-blue; 

  &__logo-block {
    width: 30%;
    max-width: 28rem;
    &:hover {
      cursor: pointer;
    }
    img{
      width: 100%;
    }
  }

  &__search-block {
    width: 30%;
    max-width: 280px; 
  }  

  &__search-field {
    height: $height-field;
    width: 100%;
    padding: 0 1rem;
    background: $color-white;
  }

  &__search-btn {
    height: $height-field;
    width: 3.8rem;
    background: $color-white;
    cursor: pointer;

    i {
      font-size: $size-icon;
      color: $color-dark-gray;
      &:hover {
        color: $color-blue;
      }
    }
  } 
}

.icons-block {
  &__item:not(:last-child) {
    margin-right: 4rem;
  }

  &__link {
      color: $color-white;
      font-size: $size-icon;
      transition: $links;
      &:hover {
        color: $color-yellow;
    }
  }
}

.breadcrumbs {
  padding: 2rem;
  background: $color-light-gray;

  &__item {
    display: inline;
    color: $color-dark-gray;
    font-weight: 400;
  }

  &__item + &__item:before {
    padding: 0.8rem;
    content: "\003e";
    color: $color-blue;
  }
  
  &__link {
    color: $color-blue;
    font-weight: 300;
    transition: $links;
  }

  &__link:hover {
    color: $color-dark-gray;
  }
}

.filter-block {
  padding: 0 2rem;
  color: $color-dark-gray;
  background: $color-light-gray;
  padding-bottom: 1rem;

  &__wrapper {
    justify-content: space-between;
    align-items: flex-end;
    margin: 2rem 0;
  }

  &__item {
    display: flex;
    flex-direction: column;

    .input-field--regular {
      @include filter-field(25rem);
    }

    .input-field--shorter {
      @include filter-field(10rem);
    }     
  }

  &__btn {
    @include btn($color-blue);
    margin-bottom: 0;
  }
}

.heading-block {
  margin-left: 2rem;
}

.serp-block {
  display: flex;
  width: 100vw;
  padding: 0 2rem;
  color: $color-dark-gray;
  background: $color-white;
}

.sidebar-filter {
  width: 30rem;
  font-size: 1.6rem;

  &__btn {
    @include btn($color-gray);
    width: 100%;
  }

  &__category {
    font-weight: 400;
  }

  &__submenu {
    margin: 0 0 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: $links;
  }

  &__submenu li, input {
    margin-top: 1rem;
  }

  &__dimension-parameter {
    margin-top: 1rem;
  }

  &__index-parameter {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 1rem;
  }
}

.input-field--shortest {
  @include filter-field(7rem);
}

.input-field--regular {
  @include filter-field(25rem);
}

input[type="checkbox"] {
	position: relative;
	margin: 0.4rem;
}

input[type="checkbox"]:before {
	content: ' ';
	background: white;
	border: 1.5px solid $color-gray;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 1rem;
	height: 1rem;
	transition: background .3s ease-in-out;
}

input[type="checkbox"]:checked:before {
	background: $color-gray;
}

input[type="checkbox"]:checked:after {
	content: ' ';
	background: transparent;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	position: absolute;
	top: 5%;
	left: 10%;
	width: 60%;
	height: 30%;
	z-index: 2;
	transform: rotate(-45deg);
}

.search-results-block {
  margin-left: 2rem;
  width: 110rem;
}

.tags-sorting-block {
  display: flex;
  justify-content: space-between;
}

.tags-block {
  display: flex;
  flex-flow: row wrap;

  &__item {
    position: relative;
    margin-top: 0;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem 3.5rem;
    border: 1px solid $color-blue;
    border-radius: 2rem;
  } 

  &__link {
    @include bold-text;
    color: $color-blue;
  }

  &__link::before {
    content: url('img/close-solid.svg');
    position: absolute; 
    width: 1.5rem;
    right: 0.8rem;
    top: 0.7rem;
  }
}

.sorting-block {
  padding-right: 2rem;
  &__item {
    .input-field--shorter {
      @include filter-field(20rem);
      margin-top: 0;
      outline: 1px solid $color-dark-gray;
    }  
  }
}

.cards-block {
  justify-content: space-around;
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;

  &:nth-child(even) {
    background: $color-light-gray;
  }

  &:nth-child(odd) {
    background: $color-white;
  }  

  &__images {
    width: 25%;
    max-width: 14rem;
  }

  &__photo {  
    width: 100%;

  }

  &__logo {
    width: 100%;
  }

  &__description {
    width: 40rem;
    margin: 0 2rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    // align-content: stretch;
    margin-top: 2rem;
  }

  &__item {
    @include bold-text;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    a {
      color: $color-blue; // doesn't work in "&__item" block 
    }
  }
}

.tyre-characteristics {
  margin-top: 2rem;
  &__link {
    display: inline-block;
    margin: 0 2rem;
    position: relative;
  }

  &__link:nth-child(1)::before {
    content: url('img/1.svg');
    @include icons-position;
  }

  &__link:nth-child(2)::before {
    content: url('img/2.svg');
    @include icons-position;
  }

  &__link:nth-child(3)::before {
    content: url('img/3.svg');
    @include icons-position;
  }
}

.cta-block {
  width: 25%;
  max-width: 28rem;  
  // width: 28rem;
  text-align: center;
  &__price {
    font-size: 2rem;
    font-weight: 600;
    color: $color-blue;
  }

  &__discount {
    @include align-center;
  }

  &__discount > span {
    font-size: 1.6rem;
    color: $color-dark-gray;
  }

  &__discount > span:nth-child(2) {
    padding: 0.5rem 2rem;
    border: 1px solid $color-orange;
    color: $color-orange;
  }

  &__btn-offers {
    @include btn($color-blue);
    width: 100%;
  }

  &__btn-cart {
    @include btn($color-green);
    width: 100%;
  }

  button[class^="cta-block__btn"] {
    margin-top: 2rem;
  }
}

.rate-block {
  @include align-center;
  &__stars {
    display: inline-flex;
  }

  &__star {
    background-image: url('img/star.svg');
    @include star-size;
  }

  &__star-empty {
    background-image: url('img/star-empty.svg');
    @include star-size;
  }

  li[class^="rate-block__star"] {
    margin-right: 0.5rem;
  }
}