















.serp-block {
  display: flex;
  width: 100vw;
  padding: 0 2rem;
  color: $color-dark-gray;
  background: $color-white;
}



.search-results-block {
  margin-left: 2rem;
  width: 110rem;
}

.tags-sorting-block {
  display: flex;
  justify-content: space-between;
}

.tags-block {
  display: flex;
  flex-flow: row wrap;

  &__item {
    position: relative;
    margin-top: 0;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem 3.5rem;
    border: 1px solid $color-blue;
    border-radius: 2rem;
  } 

  &__link {
    @include bold-text;
    color: $color-blue;
  }

  &__link::before {
    content: url('img/close-solid.svg');
    position: absolute; 
    width: 1.5rem;
    right: 0.8rem;
    top: 0.7rem;
  }
}

.sorting-block {
  padding-right: 2rem;
  &__item {
    .input-field--shorter {
      @include filter-field(20rem);
      margin-top: 0;
      outline: 1px solid $color-dark-gray;
    }  
  }
}






@media screen and (max-width: 1200px) {
  .filter-block {
    &__item {
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 992px) {
  .filter-block {
    &__wrapper {
      flex-flow: row wrap;
      justify-content: space-evenly;  
    }
    &__item {
      margin-bottom: 2rem;
    }
    &__btn {
      align-self: center;
    }
  }  

  .aside-filter {
    min-width: 16rem;
    &__btn {
      width: 100%;
      max-width: 28rem;
    }
  }

  .sidebar-filter {
    &__list {
      min-width: 16rem;
    }
    &__submenu-dimension {
      display: flex;
      flex-direction: column;
    }
    &__dimension-parameter select,
    &__index-parameter select {
      @include filter-field(7rem);
    }
  }
}

@media screen and (max-width: 768px) {
  .heading-block {
    margin-bottom: 1rem;
  }

  .serp-block {
    flex-flow: column;  
  }

  .aside-filter {
    width: 95vw;
    &__btn {
      margin: 3rem 0;
      display: none;
    }
  }

  .sidebar-filter {
    margin-bottom: 4rem;
    &__list {
      width: 95vw;
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    &__category {
      padding-bottom: 2px; 
      border-bottom: 1px solid $color-blue;
      color: $color-blue;
    }
    &__submenu {
      margin-left: 0;
    }
  }

  .search-results-block {
    margin-left: 0;
  }

  .tags-sorting-block {
    justify-content: flex-start;
  }

  .pagination {
    justify-content: center;
    width: 95vw;
  }

  .tags-block {
    max-width: 50vw;
  }  
  
  .sorting-block {
    max-width: 50vw;
  }

  .cards-block {
    width: 95vw; 
  }
}

@media screen and (max-width: 640px) {
  .header {
    &__search-block {
      width: 10%;
    }
    &__search-field {
      display: none;
    }

    &__mobile-menu-block {
      display: block;
    }

    &__search-btn,
    &__mobile-menu-btn {
      background: transparent;
    }

    &__search-btn i,
    &__mobile-menu-btn {
      color: $color-white;
      font-size: $size-icon-mobile;
      transition: $links;
      &:hover {
        color: $color-yellow;
      }
    }
  }

  
  .aside-filter button {
    display: none;
  }

  .icons-block {
    &__item:not(:last-child) {
      margin-right: 3rem;
    }
    &__link {
      font-size: 1.6rem;
    }
  }

  .footer {
    .links-block {
      margin-right: 4rem;
    }

    &__socials-languages-block {
      display: flex;
      flex-flow: column wrap;
    }

    &__languages-block {
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .header,
  .serp-block {
    padding: 1rem;
  }

  .aside-filter {
    &__btn {
      display: block; 
      margin: auto;
      margin-bottom: 2rem;
    }
  }

  .sidebar-filter {
    display: none;
  }

  .sorting-block {
    display: none;
  }

  .tags-block {
    max-width: 95vw;
  }

  .cards-block {
    flex-flow: column;
    align-content: center;
    max-width: 58rem;
    min-width: 30rem;

    &__images,
    &__description,
    .cta-block {
      margin: auto;
    }

    &__description,
    .cta-block {
      width: 80%;
      min-width: 20rem;
      margin-top: 2rem;
    }
  }

  .tyre-characteristics {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .header {
    justify-content: space-around;
    flex-flow: row wrap;

    &__logo-block {
      width: 60%;
    }
  }

  .filter-block {     
    &__item {
      margin-right: 0;
      .input-field--shorter {
        @include filter-field(25rem);
      }     
    }

    h3 {
      text-align: center;
    }
  }

  .tags-block {
    justify-content: center;
  }

  .footer {
    &__links-blocks {
      flex-flow: column;
    }

    .links-block {
      margin-right: 0;
      margin-left: 6rem;
    }

    &__languages-block li {
      margin-top: 1rem;
    }
  }
}
