* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  width: 100%;
  font: 200 1.4rem Proxima Nova, sans-serif;
  color: #333333;
}

h1 {
  margin: 3rem 0;
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  list-style: none;
}

li {
  margin-top: 2rem;
}

input, select, button {
  color: #333333;
  border: none;
  outline: none;
}

a:hover,
button:hover,
select:hover {
  cursor: pointer;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  background: #f8f8f8;
}

.wrapper__container {
  width: 100%;
  max-width: 144rem;
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem;
  background: #0055a0;
}

.header__logo-block {
  width: 30%;
  max-width: 28rem;
}

.header__logo-block:hover {
  cursor: pointer;
}

.header__logo-block img {
  width: 100%;
}

.header__search-block {
  width: 30%;
  max-width: 280px;
}

.header__search-field {
  height: 3.8rem;
  width: 100%;
  padding: 0 1rem;
  background: #fff;
}

.header__search-btn {
  height: 3.8rem;
  width: 3.8rem;
  background: #fff;
  cursor: pointer;
}

.header__search-btn i {
  font-size: 2rem;
  color: #333333;
}

.header__search-btn i:hover {
  color: #0055a0;
}

.icons-block__item:not(:last-child) {
  margin-right: 4rem;
}

.icons-block__link {
  color: #fff;
  font-size: 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icons-block__link:hover {
  color: #ffe400;
}

.breadcrumbs {
  margin: 2rem;
  background: #f8f8f8;
}

.breadcrumbs__item {
  display: inline;
  color: #333333;
  font-weight: 400;
}

.breadcrumbs__item + .breadcrumbs__item:before {
  padding: 0.8rem;
  content: "\003e";
  color: #0055a0;
}

.breadcrumbs__link {
  color: #0055a0;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.breadcrumbs__link:hover {
  color: #333333;
}

.main {
  margin: 0 2rem;
}

.filter-block {
  width: 100%;
  max-width: 144rem;
  color: #333333;
  background: #f8f8f8;
}

.filter-block__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 2rem 0;
}

.filter-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter-block__item .input-field--regular {
  width: 25rem;
  height: 3.8rem;
  padding: 0 1rem;
  margin-top: 1rem;
}

.filter-block__item .input-field--shorter {
  width: 10rem;
  height: 3.8rem;
  padding: 0 1rem;
  margin-top: 1rem;
}

.filter-block__btn {
  width: 28rem;
  height: 3.8rem;
  color: #fff;
  background: #0055a0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0;
}

.filter-block__btn:hover {
  background: #006bc9;
  cursor: pointer;
}

.sidebar-filter {
  max-width: 30rem;
  font-size: 1.6rem;
}

.sidebar-filter__btn {
  width: 28rem;
  height: 3.8rem;
  color: #fff;
  background: #ababab;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  min-width: 20rem;
}

.sidebar-filter__btn:hover {
  background: #bfbfbf;
  cursor: pointer;
}

.sidebar-filter__category {
  font-weight: 400;
}

.sidebar-filter__submenu {
  margin: 0 0 0 1rem;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar-filter__submenu li, .sidebar-filter input {
  margin-top: 1rem;
}

.sidebar-filter__dimension-parameter {
  margin-top: 1rem;
}

.sidebar-filter__index-parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0;
  margin-top: 1rem;
}

.input-field--shortest {
  width: 7rem;
  height: 3.8rem;
  padding: 0 1rem;
  margin-top: 1rem;
}

.input-field--regular {
  width: 25rem;
  height: 3.8rem;
  padding: 0 1rem;
  margin-top: 1rem;
}

input[type="checkbox"] {
  position: relative;
  margin: 0.4rem;
}

input[type="checkbox"]:before {
  content: ' ';
  background: white;
  border: 1.5px solid #ababab;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  width: 1rem;
  height: 1rem;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

input[type="checkbox"]:checked:before {
  background: #ababab;
}

input[type="checkbox"]:checked:after {
  content: ' ';
  background: transparent;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  top: 5%;
  left: 10%;
  width: 60%;
  height: 30%;
  z-index: 2;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=style.css.map */