// COLORS
$color-blue: #0055a0;
$color-light-blue: #0163b9;
$color-green: #7ab51d;
$color-yellow: #ffe400;
$color-orange: #ff6000;
$color-light-gray: #f8f8f8;
$color-gray: #ababab;
$color-dark-gray: #333333;
$color-white: #fff;

// SIZES
$size-icon: 2rem;
$size-icon-mobile: 1.6rem;
$height-field: 3.8rem;

// ANIMATIONS
$links: all 0.3s ease-in-out;

// MIXINS
@mixin filter-field ($width-field) {
  width: $width-field;
  height: $height-field;
  padding: 0 1rem;
  margin-top: 1rem;
}

@mixin btn ($color-btn) {
  width: 28rem;
  height: $height-field;
  font: 200 1.6rem Proxima Nova;
  letter-spacing: .6px;
  color: $color-white;
  background: $color-btn;
  transition: $links;

  &:hover {
    background: lighten($color-btn, 8%);
    cursor: pointer;
  }
}

@mixin tyre-season {
  position: absolute; 
  width: 1.8rem;
  top: 0;
  right: -1rem;
}

@mixin bold-text {
  font-size: 1.6rem;
  font-weight: 400;
}

@mixin icons-position {
  position: absolute;
  width: 1.5rem;
  left: -2rem;
}

@mixin badge-properties {
  position: absolute;
  width: 6rem;
  left: -4rem;
  top: -2.9rem;
}

@mixin star-size {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0;
}

@mixin align-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

@mixin hover-animation {
  background-color: $color-light-gray;
  color: $color-blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
  
body {
  width: 100%;
  font: 300 1.4rem Proxima Nova, sans-serif;
  color: $color-dark-gray;
}

h1 {
  margin: 3rem 0;
}
  
a {
  text-decoration: none;
  color: $color-dark-gray;
}
  
ul {
  list-style: none;
}

li {
  margin-top: 2rem;
}

input, select, button {
  color: $color-dark-gray; 
  border: none;
  outline: none;
}

a:hover,
button:hover,
select:hover {
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  background: $color-white;

  &__container {
    width: 100%;
    max-width: 144rem;
  }
}

.header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background: $color-blue; 

  &__logo-block {
    width: 30%;
    max-width: 28rem;
    &:hover {
      cursor: pointer;
    }
    img{
      width: 100%;
    }
  }

  &__search-block {
    width: 30%;
    max-width: 280px; 
  }  

  &__search-field {
    height: $height-field;
    width: 100%;
    padding: 0 1rem;
    background: $color-white;
  }

  &__search-btn {
    height: $height-field;
    width: 3.8rem;
    background: $color-white;
    cursor: pointer;

    i {
      font-size: $size-icon;
      color: $color-dark-gray;
      &:hover {
        color: $color-blue;
      }
    }
  } 

  &__mobile-menu-block {
    display: none;
  }
}

.icons-block {
  &__item:not(:last-child) {
    margin-right: 4rem;
  }

  &__link {
      color: $color-white;
      font-size: $size-icon;
      transition: $links;
      &:hover {
        color: $color-yellow;
    }
  }
}

.breadcrumbs {
  padding: 2rem;
  background: $color-light-gray;

  &__item {
    display: inline;
    color: $color-dark-gray;
    font-weight: 400;
  }

  &__item + &__item:before {
    padding: 0.8rem;
    content: "\003e";
    color: $color-blue;
  }
  
  &__link {
    color: $color-blue;
    font-weight: 300;
    transition: $links;
  }

  &__link:hover {
    color: $color-dark-gray;
  }
}

.filter-block {
  padding: 0 2rem;
  color: $color-dark-gray;
  background: $color-light-gray;
  padding-bottom: 1rem;

  &__wrapper {
    justify-content: space-between;
    align-items: flex-end;
    margin: 2rem 0;
  }

  &__item {
    display: flex;
    flex-direction: column;

    .input-field--regular {
      @include filter-field(25rem);
    }

    .input-field--shorter {
      @include filter-field(10rem);
    }     
  }

  &__btn {
    @include btn($color-blue);
    margin-bottom: 0;
  }
}

.heading-block {
  margin-left: 2rem;
}

.serp-block {
  display: flex;
  width: 100vw;
  padding: 0 2rem;
  color: $color-dark-gray;
  background: $color-white;
}

.aside-filter {
  width: 30rem;
  font-size: 1.6rem;
  
  &__btn {
    @include btn($color-gray);
    // width: 100%;
    
    &--mobile {
      display: none;
    }
  }
}

.sidebar-filter {
  width: 30rem;
  font-size: 1.6rem;

  &__category {
    font-weight: 400;
  }

  &__category:hover {
    color: $color-blue;
  }

  &__submenu {
    margin: 0 0 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: $links;
  } 

  &__submenu li a:hover {
    color: $color-blue;
    transition: all 0.3s ease-in-out;
  }

  &__submenu li, input {
    margin-top: 1rem;
  }

  &__dimension-parameter {
    margin-top: 1rem;
  }

  &__index-parameter {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 1rem;
  }
}

.input-field--shortest {
  @include filter-field(7rem);
}

.input-field--regular {
  @include filter-field(25rem);
}

input[type="checkbox"] {
	position: relative;
	margin: 0.4rem;
}

input[type="checkbox"]:before {
	content: ' ';
	background: white;
	border: 1.5px solid $color-gray;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 1rem;
	height: 1rem;
	transition: background .3s ease-in-out;
}

input[type="checkbox"]:checked:before {
	background: $color-gray;
}

input[type="checkbox"]:checked:after {
	content: ' ';
	background: transparent;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	position: absolute;
	top: 5%;
	left: 10%;
	width: 60%;
	height: 30%;
	z-index: 2;
	transform: rotate(-45deg);
}

.search-results-block {
  margin-left: 2rem;
  width: 110rem;
}

.tags-sorting-block {
  display: flex;
  justify-content: space-between;
}

.tags-block {
  display: flex;
  flex-flow: row wrap;

  &__item {
    position: relative;
    margin-top: 0;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem 3.5rem;
    border: 1px solid $color-blue;
    border-radius: 2rem;
  } 

  &__link {
    @include bold-text;
    color: $color-blue;
  }

  &__link::before {
    content: url('img/close-solid.svg');
    position: absolute; 
    width: 1.5rem;
    right: 0.8rem;
    top: 0.7rem;
  }
}

.sorting-block {
  padding-right: 2rem;
  &__item {
    .input-field--shorter {
      @include filter-field(20rem);
      margin-top: 0;
      outline: 1px solid $color-dark-gray;
    }  
  }
}

.cards-block {
  justify-content: space-around;
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;

  &:nth-child(even) {
    background: $color-light-gray;
  }

  &:nth-child(odd) {
    background: $color-white;
  }  

  &__images {
    position: relative;
    width: 14rem;
    // width: 25%;
    // max-width: 14rem;
  }

  &--winter::after {
    @include tyre-season;
    content: url('img/winter.svg');
  }

  &--summer::after {
    @include tyre-season;
    content: url('img/summer.svg');
  }

  &--all-season::after {
    @include tyre-season;
    content: url('img/all-season-2.svg');
  }

  &--best-price::before {
    content: url('img/badge-price-2.svg');
    @include badge-properties;
  }

  &--best-seller::before {
    content: url('img/badge-seller-2.svg');
    @include badge-properties;
  }

  &--high-rate::before {
    content: url('img/badge-rate-2.svg');
    @include badge-properties;
  }

  &__photo,
  &__logo {  
    width: 100%;
    min-width: 14rem;
  }

  &__description {
    width: 50%;
    min-width: 20rem;
    margin: 0 2rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  &__item {
    @include bold-text;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    a {
      color: $color-blue; // doesn't work in "&__item" block 
    }
  }
}

.tyre-characteristics {
  margin-top: 2rem;
  &__link {
    display: inline-block;
    margin: 0 2rem;
    position: relative;
  }

  &__link:nth-child(1)::before {
    content: url('img/1.svg');
    @include icons-position;
  }

  &__link:nth-child(2)::before {
    content: url('img/2.svg');
    @include icons-position;
  }

  &__link:nth-child(3)::before {
    content: url('img/3.svg');
    @include icons-position;
  }
}

.cta-block {
  width: 25%;
  max-width: 28rem;  
  // width: 28rem;
  text-align: center;
  &__price {
    font-size: 2rem;
    font-weight: 600;
    color: $color-blue;
  }

  &__discount {
    @include align-center;
  }

  &__discount > span {
    font-size: 1.6rem;
    color: $color-dark-gray;
  }

  &__discount > span:nth-child(2) {
    padding: 0.5rem 2rem;
    border: 1px solid $color-orange;
    color: $color-orange;
  }

  &__btn-offers {
    @include btn($color-blue);
    width: 100%;
  }

  &__btn-cart {
    @include btn($color-green);
    width: 100%;
  }

  button[class^="cta-block__btn"] {
    margin-top: 2rem;
  }
}

.rate-block {
  @include align-center;
  &__stars {
    display: inline-flex;
  }

  &__star {
    background-image: url('img/star.svg');
    @include star-size;
  }

  &__star-empty {
    background-image: url('img/star-empty.svg');
    @include star-size;
  }

  li[class^="rate-block__star"] {
    margin-right: 0.5rem;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 3rem 0;

  &__item {
    padding: .5rem 1rem;
    color: $color-dark-gray;
    font-weight: 300; 

    &--active {
      background-color: $color-blue;
      color: $color-white;
    }

    &:hover:not(&--active) {
      @include hover-animation;
    }
  } 
}

.footer {
  width: 100%;
  height: auto;
  padding: 0 4rem;
  background: $color-light-gray;

  &__container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
  }

  &__links-blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    color: $color-white;
  }

  &__socials-languages-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0;
    width: 100%;
  }

  &__socials-block {
    display: flex;
    justify-content: center;
  }

  &__socials-item:not(:last-child) {
    margin-right: 2rem;
  }

  &__socials-link i {
    font-size: 2rem;
    color: $color-dark-gray;
    display: inline-block;
    transition: all .3s linear;

    &:hover {
      color: $color-blue;
    }
  }

  &__languages-block {
    display: flex;
    justify-content: center;
  }

  &__languages-block li {
    margin-right: 1rem;
    margin-top: 0;
  }

  &__languages-block li,
  &__languages-block a {
    height: 1.5rem;
    display: block;
  }
}

.links-block {
  display: flex;
  flex-flow: column wrap;
  margin-top: 2rem;
}

.links-block:not(:last-child) {
  margin-right: 10rem;
}

.links-block__item {
  margin-top: 1.4rem;
  font-weight: 300;
}

.links-block__item a {
  color: #3b3b3b;
}

.links-block__item a:hover {
  color: $color-blue;
  transition: all .3s linear;
}

.links-block__item b a{
  font-weight: 500;
  text-transform: uppercase;
}

#germ {
  left: 0;
  width: 2rem;
  background: url('img/sprite_lang.png') 0 0;
}

#fr {
  left: 2.8rem;
  width: 2rem;
  background: url('img/sprite_lang.png') -28px 0;
}

#sw {
  left: 5.5rem;
  width: 2rem;
  background: url('img/sprite_lang.png') -55px 0;
}

#se {
  left: 8.2rem;
  width: 2rem;
  background: url('img/sprite_lang.png') -82px 0;
}

#it {
  left: 10.9rem;
  width: 2rem;
  background: url('img/sprite_lang.png') -109px 0;
}

#no {
  left: 13.6rem;
  width: 2rem;
  background: url('img/sprite_lang.png') -136px 0;
}

#dk {
  left: 16.3rem;
  width: 2rem;
  background: url('img/sprite_lang.png') -163px 0;
}

#nl {
  left: 19rem;
  width: 2rem;
  background: url('img/sprite_lang.png') -190px 0;
}

#uk {
  left: 21.7rem;
  width: 2rem;
  background: url('img/sprite_lang.png') -217px 0;
}

#us {
  left: 24.4rem;
  width: 2rem;
  background: url('img/sprite_lang.png') -244px 0;
}

#es {
  left: 27.1rem;
  width: 2rem;
  background: url('img/sprite_lang.png') -271px 0;
}

#at {
  left: 29.8rem;
  width: 2rem;
  background: url('img/sprite_lang.png') -298px 0;
}

@media screen and (max-width: 1200px) {
  .filter-block {
    &__item {
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 992px) {
  .filter-block {
    &__wrapper {
      flex-flow: row wrap;
      justify-content: space-evenly;  
    }
    &__item {
      margin-bottom: 2rem;
    }
    &__btn {
      align-self: center;
    }
  }  

  .aside-filter {
    min-width: 16rem;
    &__btn {
      width: 100%;
      max-width: 28rem;
    }
  }

  .sidebar-filter {
    &__list {
      min-width: 16rem;
    }
    &__submenu-dimension {
      display: flex;
      flex-direction: column;
    }
    &__dimension-parameter select,
    &__index-parameter select {
      @include filter-field(7rem);
    }
  }
}

@media screen and (max-width: 768px) {
  .heading-block {
    margin-bottom: 1rem;
  }

  .serp-block {
    flex-flow: column;  
  }

  .aside-filter {
    width: 95vw;
    &__btn {
      margin: 3rem 0;
      display: none;
    }
  }

  .sidebar-filter {
    margin-bottom: 4rem;
    &__list {
      width: 95vw;
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    &__category {
      padding-bottom: 2px; 
      border-bottom: 1px solid $color-blue;
      color: $color-blue;
    }
    &__submenu {
      margin-left: 0;
    }
  }

  .search-results-block {
    margin-left: 0;
  }

  .tags-sorting-block {
    justify-content: flex-start;
  }

  .tags-block {
    max-width: 50vw;
  }  
  
  .sorting-block {
    max-width: 50vw;
  }

  .cards-block {
    width: 95vw; 
  }
}

@media screen and (max-width: 640px) {
  .header {
    &__search-block {
      width: 10%;
    }
    &__search-field {
      display: none;
    }

    &__mobile-menu-block {
      display: block;
    }

    &__search-btn,
    &__mobile-menu-btn {
      background: transparent;
    }

    &__search-btn i,
    &__mobile-menu-btn {
      color: $color-white;
      font-size: $size-icon-mobile;
      transition: $links;
      &:hover {
        color: $color-yellow;
      }
    }
  }

  
  .aside-filter button {
    display: none;
  }

  .icons-block {
    &__item:not(:last-child) {
      margin-right: 3rem;
    }
    &__link {
      font-size: 1.6rem;
    }
  }

  .footer {
    .links-block {
      margin-right: 4rem;
    }

    &__socials-languages-block {
      display: flex;
      flex-flow: column wrap;
    }

    &__languages-block {
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .header,
  .serp-block {
    padding: 1rem;
  }

  .aside-filter {
    &__btn {
      display: block; 
      margin: auto;
      margin-bottom: 2rem;
    }
  }

  .sidebar-filter {
    display: none;
  }

  .sorting-block {
    display: none;
  }

  .tags-block {
    max-width: 95vw;
  }

  .cards-block {
    flex-flow: column;
    align-content: center;
    max-width: 58rem;
    min-width: 30rem;

    &__images,
    &__description,
    .cta-block {
      margin: auto;
    }

    &__description,
    .cta-block {
      width: 80%;
      min-width: 20rem;
      margin-top: 2rem;
    }
  }

  .tyre-characteristics {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .header {
    justify-content: space-around;
    flex-flow: row wrap;

    &__logo-block {
      width: 60%;
    }
  }

  .filter-block {     
    &__item {
      .input-field--shorter {
        @include filter-field(25rem);
      }     
    }
  }

  .footer {
    &__links-blocks {
      flex-flow: column;
    }

    .links-block {
      margin-right: 0;
      margin-left: 6rem;
    }
  }
}
