// COLORS
$color-blue: #0055a0;
$color-light-blue: #0163b9;
$color-green: #7ab51d;
$color-yellow: #ffe400;
$color-orange: #ff6000;
$color-light-gray: #f8f8f8;
$color-gray: #ababab;
$color-dark-gray: #333333;
$color-white: #fff;

// SIZES
$size-icon: 2rem;
$size-icon-mobile: 1.6rem;
$height-field: 3.8rem;

// ANIMATIONS
$links: all 0.3s ease-in-out;

// MEDIA QUERIES
$screen-xs: 400px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;