.aside-filter {
    width: 30rem;
    font-size: 1.6rem;
    @include lg {
        min-width: 16rem;
    }
    @include md {
        width: 95vw;
    }

    &__btn {
        @include btn($color-gray);
        @include lg {
            width: 100%;
            max-width: 28rem;
        }

        @include md {
            margin: 3rem 0;
            display: none;
        }
        @include optional {
            display: block; 
            margin: auto;
            margin-bottom: 2rem;
        }
        
        &--mobile {
        display: none;
        }
    }
}
  
.sidebar-filter {
    width: 30rem;
    font-size: 1.6rem;    
    @include md {
        margin-bottom: 4rem;
    }
    @include optional {
      display: none;
    }

    &__list {
      @include lg {
        min-width: 16rem;
      }

      @include md {
        width: 95vw;
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }
    }
  
    &__category {
      font-weight: 400;
      @include md {
        padding-bottom: 2px; 
        border-bottom: 1px solid $color-blue;
        color: $color-blue;
      }
    }
  
    &__category:hover {
      color: $color-blue;
    }
  
    &__submenu {
      margin: 0 0 0 1rem;
      max-height: 0;
      overflow: hidden;
      transition: $links;
      @include md {
        margin-left: 0;
      }
    } 
  
    &__submenu li a:hover {
      color: $color-blue;
      transition: all 0.3s ease-in-out;
    }
  
    &__submenu li, input {
      margin-top: 1rem;
    }

    &__submenu-dimension {
      @include lg {
        display: flex;
        flex-direction: column;
      }
    }
  
    &__dimension-parameter {
      margin-top: 1rem;
    }
  
    &__index-parameter {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      margin-top: 1rem;
    }

    &__dimension-parameter select,
    &__index-parameter select {
      @include lg {
        @include filter-field(7rem);
      }
    }
}
  
.input-field--shortest {
    @include filter-field(7rem);
}

.input-field--regular {
    @include filter-field(25rem);
}

input[type="checkbox"] {
    position: relative;
    margin: 0.4rem;
}

input[type="checkbox"]:before {
    content: ' ';
    background: white;
    border: 1.5px solid $color-gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 1rem;
    height: 1rem;
    transition: background .3s ease-in-out;
}

input[type="checkbox"]:checked:before {
    background: $color-gray;
}

input[type="checkbox"]:checked:after {
    content: ' ';
    background: transparent;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    position: absolute;
    top: 5%;
    left: 10%;
    width: 60%;
    height: 30%;
    z-index: 2;
    transform: rotate(-45deg);
}